#dog {
    position: absolute;
    top: 100px;
    #dog-head {
        width: 57px;
        height: 50px;
        position: absolute;
        background-image: url('../images/dog-head.png');
        background-repeat: no-repeat;
    }
    #dog-leg-front {
        width: 48px;
        height: 37px;
        position: absolute;
        margin-top: 50px;
        margin-left: 11px;
        background-image: url('../images/dog-leg-front.png');
        background-repeat: no-repeat;
    }
    #dog-leg-back {
        width: 45px;
        height: 40px;
        position: absolute;
        margin-left: 73px;
        margin-top: 52px;
        background-image: url('../images/dog-leg-back.png');
        background-repeat: no-repeat;
    }
    #dog-torso {
        width: 37px;
        height: 27px;
        position: absolute;
        margin-top: 36px;
        margin-left: 47px;
        background-image: url('../images/dog-torso.png');
        background-repeat: no-repeat;
    }
    #dog-tail {
        width: 83px;
        height: 43px;
        position: absolute;
        margin-left: 79px;
        margin-top: 12px;
        background-image: url('../images/dog-tail.png');
        background-repeat: no-repeat;
    }

}
