
html,
body {
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#body {
    @include bg-full('../images/background.jpg');
    background-image: url('../images/background-big.jpg');
}

#stars {
    @include absfull();
    @include fullsize();
    z-index: 1;
}

#dude {
    @include absfull();
    @include fullsize();
    z-index: 2;
}
